[Desktop Entry]
Name=QJackctl
Name[pl]=QJackctl
Comment=Control the JACK sound server
Comment[pl]=Kontroluje serwer dźwięku JACKa
Exec=/usr/bin/qjackctl
Icon=qjackctl
Terminal=false
Type=Application
Categories=Qt;Audio;
# vi: encoding=utf-8
